entrypoint = "main.py"
modules = ["python-3.10:v20-20230824-f46249a"]
hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["cairo", "ffmpeg-full", "fontconfig", "freetype", "ghostscript", "glib", "gobject-introspection", "gtk3", "harfbuzz", "ipaexfont", "pango", "pkg-config", "python310", "python310Packages.pip", "qhull", "tcl", "tk"]

[[ports]]
localPort = 3000
externalPort = 3000
