entrypoint = "main.py"
modules = ["python-3.10:v20-20230824-f46249a"]
hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = [
  "cairo",
  "ffmpeg-full",
  "fontconfig",
  "freetype",
  "ghostscript",
  "glib",
  "glibcLocales",
  "gobject-introspection",
  "gtk3",
  "harfbuzz",
  "ipaexfont",
  "pango",
  "pkg-config",
  "python310",
  "python310Packages.pip",
  "qhull",
  "tcl",
  "tk",
]

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39887795
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p ~/.fonts && cp -n static/fonts/IPAexGothic.ttf ~/.fonts/ && fc-cache -fv && python main.py"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "echo \"--- Current working directory: $(pwd) ---\" && echo \"--- Listing static directory: ---\" && ls -l static && echo \"--- Listing static/fonts directory: ---\" && ls -l static/fonts && echo \"--- Checking IPAexGothic.ttf: ---\" && ls -l static/fonts/IPAexGothic.ttf && echo \"--- Running fc-cache ---\" && fc-cache -fv && echo \"--- Starting Gunicorn ---\" && gunicorn main:app --bind 0.0.0.0:8080 --access-logfile - --error-logfile -"]
