<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: "IPAexGothic";
            src: url("/static/fonts/IPAexGothic.ttf") format("truetype");
          }
        body {
            font-family: "IPAexGothic", sans-serif;
            text-align: center;
            margin: 40px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin: 30px 0;
        }
        h1 {
            font-size: 20pt;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>{{ pdf_title }}</h1>

    <img src="{{ chart1_path }}" alt="上司タイプグラフ">

    <div style="page-break-after: always;"></div>

    <img src="{{ chart2_path }}" alt="部下タイプグラフ">
</body>
</html>
